$m: (
    "auto": auto
);
$p: ();

@for $i from 1 through 5 {
    $m: map-merge(
        $map1: $m,
        $map2: (
            "#{$i}": #{"#{$i}rem"}
        )
    );
    $p: map-merge(
        $map1: $p,
        $map2: (
            "#{$i}": #{"#{$i}rem"}
        )
    );
}


// different spacer variable

// spacing between section
$sec-spacer: 10rem;

// after section heading
$heading-btm-spacer: 1rem;

// after sub-heading
$sub-heading-btm-spacer: 3rem;