:root {
    @include generateCssVariables(scss2CssVariables($gray, "gray"));
    @include generateCssVariables(scss2CssVariables($red, "red"));
    @include generateCssVariables(scss2CssVariables($pink, "pink"));
    @include generateCssVariables(scss2CssVariables($grape, "grape"));
    @include generateCssVariables(scss2CssVariables($violet, "violet"));
    @include generateCssVariables(scss2CssVariables($indigo, "indigo"));
    @include generateCssVariables(scss2CssVariables($blue, "blue"));
    @include generateCssVariables(scss2CssVariables($cyan, "cyan"));
    @include generateCssVariables(scss2CssVariables($teal, "teal"));
    @include generateCssVariables(scss2CssVariables($green, "green"));
    @include generateCssVariables(scss2CssVariables($lime, "lime"));
    @include generateCssVariables(scss2CssVariables($yellow, "yellow"));
    @include generateCssVariables(scss2CssVariables($orange, "orange"));
}

$breakPoints: (
    "xxl": 1500,
    "xl": 1250,
    "l": 1024,
    "md": 768,
    "s": 425,
    "xs": 375,
    "xxs": 320
);

$rem: (
    "xxl": 18px,
    "xl": 16px,
    "l": 14px,
    "md": 12px,
    "s": 10px,
    "xs": 8px,
    "xxs": 6px
);

@each $key, $val in $breakPoints {
    @media (max-width: #{$val}px) {
        :root {
            font-size: map-get($map: $rem, $key: $key);
        }
    }
}

// global overwrite

*,
*::placeholder,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
}

button,
input,
select {
    outline: none;
}

a {
    text-decoration: none;
}

// different spacer variable

// spacing between section
$sec-spacer: 10rem;

// after section heading
$heading-btm-spacer: 1rem;

// after sub-heading
$sub-heading-btm-spacer: 3rem;

// spacing between elements or cards
$elem-spacer: 2rem;
